.userDecksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  padding: 1px 5px;
  min-width: auto;
  flex-wrap: wrap;
}

.userDecksWrapper a {
  text-decoration: none;
}

.dashHeader {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.dashHeader h1 {
  margin: 20px;
}

.dashHeader a {
  text-decoration: none;
}

.userDecksBtn {
padding: 15px 15px; 
}


.dashHeader button {
  margin: 20px;
}

.deck-box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}

/* how to make this a grid where the max column are 3 and rows are unlimited? */

.languageDeckBox {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.languageDeckBox p {
  margin: 5px;
}

@media (max-width: 500px) {
  .deck-box {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
}
