.addNewLanguageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.addNewLanguageForm {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: auto;
  margin-top: 20px; 
    box-shadow: 0px 0px 5.5px #2dc2c2;
}

.addNewLanguageForm button {
  margin: 10px 0;
  padding: 10px; 
}

.addNewLanguageForm a {
  text-decoration: none;
}

.addNewLanguageForm label {
 text-align: center;
}

.addNewLanguageForm input {
  width: 80%; 
}