.userDecksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #252525;
}

.dashHeader {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.dashHeader h1 {
  margin: 20px;
  color: white;
  font-weight: 900;
}

.dashHeader a {
  text-decoration: none;
}

.dashHeader button {
  margin: 20px;
  padding: 10px;
}

.decks-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .dashHeader {
    display: flex;
    flex-direction: column;
  }

  .dashHeader button {
    margin: 7px;
  }

  .dashHeader :nth-child(1) {
    order: 2;
  }
  .dashHeader :nth-child(2) {
    order: 1;
  }
  .dashHeader :nth-child(3) {
    order: 3;
  }

  .decks-container {
    flex-direction: column;
  }

  .userDecksWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
