.userDecksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  padding: 1px 5px;
  min-width: auto;
}

.dashHeader {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.dashHeader h1 {
  margin: 20px;
  color: black; 
  font-weight: 900; 
}

.dashHeader a {
  text-decoration: none;
}

/* this header is slightly off center, how to correct? */

.dashHeader button {
  margin: 20px;
  padding: 10px;
}

.decks-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .dashHeader {
    display: flex;
    flex-direction: column;
  }

  .dashHeader button {
    margin: 7px;
  }

  .dashHeader :nth-child(1) {
    order: 2;
  }
  .dashHeader :nth-child(2) {
    order: 1;
  }
  .dashHeader :nth-child(3) {
    order: 3;
  }
}
