.userDeckWrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
}

.languageBox {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.languageBox button {
  margin: 10px;
  padding: 0;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnBox button {
  margin: 7px;
}

@media (min-width: 500px) {
  h1 {
    text-align: center;
  }
}
