/* How do I make this a grid of 3 elements max and unlimited rows? */

.userDeckWrapper {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.languageBox {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.languageBox button{
margin: 10px;
padding: 0;
}