.userDeckWrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
  filter: drop-shadow(0px 0px 3.5px #2dc2c2);
}

.languageBox {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  width: 176px;
  height: auto; 
  background: #252525;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.languageBox input {
  width: 80%;
}


.editBtn {
  width: 88px;
  height: 48px;
  left: 521px;
  top: 124px;
  margin: 0px;
  padding: 0px;
  background: #124886;
  border-radius: 0px 0px 0px 4px;
}

.deleteBtn {
  width: 88px;
  height: 48px;
  left: 433px;
  top: 124px;
  margin: 0px;
  padding: 0px;
  background: #9b2a2a;
  border-radius: 0px 0px 4px 0px;
}

.languageBox p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.languageBox h2 {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin: 10px;
  padding: 0;
}

.languageBox button {
  margin: 10px;
  padding: 10px;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.btnBox button {
  margin: 0;
}

@media (min-width: 500px) {
  h1 {
    text-align: center;
  }
}
